@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');


.body {
    color: rgb(255, 255, 255);
    /* background-image: url(images/ورده.webp), url(images/web_page.jpg); */
    background-color: #111111;
    background-position: center 130%, center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 415px, auto;
    background-size: auto, 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;



}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}








/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/* .navbar {

} */
.nav-links a:hover {
    color: #e54848;
    transition: 0.4s;
    /* text-decoration: underline; */
}

.nav-links a {
    color: rgb(170, 170, 170);
}

/* .nav-logo {
 margin-right: 1100px;  
     height:60px; 
     width: auto; 
} */
.nav-links li {
    display: inline-block;
    margin-left: 20px;
    padding-right: 5vh;
    color: rgb(170, 170, 170);
}

.nav-links a {
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-size: 20px;
}

.all {
    /* background-color:  rgba(255, 255, 255, 0.9); */
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px); 
    border-bottom: 1px #464646 solid;
    margin-bottom: 10px;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    background-size: contain;
    /* background-image: url(images/hg-logo-1.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-position: 1100;
    z-index: 9999;

}


.logo a {
    color: rgb(170, 170, 170);
}

.logo {
    font-size: 24px;
    font-family: "Exo 2", sans-serif;
    margin-right: 10px;
    float: right;
}

.logo:hover a {
    color: #e54848;
    display: inline-block;
}

.logo:hover .صوره-اللوجو {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(35%) sepia(86%) saturate(4619%) hue-rotate(345deg) brightness(113%) contrast(80%);
}

.logo a, .صوره-اللوجو {
    transition: 0.4s;
}


.صوره-اللوجو {
    margin-top: -20px;
}

.line {
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: #000000;
    z-index: 999999999999999999999999999999999999999999999999999;
}

/* .🌙
{
   background-color: #2e2e2e; border-radius: 20%;
   transition: 0.5s; 
}

.🌙:hover
{
   background-color: #e54848;; 
   
}

.🌙:hover body
{
   background-color: #e54848;; 
   
}
 */


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/













.Welcomeportfolio
{
transition: 0.4s;
}
.Welcomeportfolio:hover
{
color: tomato;
transform: scale(1.07);
}

.skill-card {
    transition: 0.4s;
    text-align: center;
    margin: auto;
}

.skill-card:hover {
    transform: translate3d(0px, -15px, 100px);
    box-shadow: 0 20px 0px rgba(197, 39, 39, 0.5);
    cursor: pointer;
}


.stop2 {
    display: none;
    /* ده هيشيل أي مسافة بياخدها الديف ده */
}


.members,
.two {
    position: relative;
    /* عشان الـ z-index يشتغل */
    z-index: 5;
    /* يخليها فوق الخلفية */
}

.lonlink a {
    position: relative;
    z-index: 10;
    /* يضمن إن اللينك نفسه هو اللي في الوش */
    cursor: pointer;
    /* عشان شكل الإيد يظهر */
}


.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Exo 2';
}

.logo span {
    color: #ff4d4d;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
}

/* الـ Hero */
.hero {
    height: 100%;
    padding-top: 30px;
    background-color: #111111;
    color: #fff;
    text-align: center;
}

.img-logo {
    width: 100px;
    float: right;
    margin-bottom: 6px;
    padding-bottom: 10px;
}

.hero-content {
    display: block;
    /* ده النوع العادي اللي إنت عارفه */
}

.hero h1 {
    font-size: 80px;
    font-family: 'Exo 2';
    margin: 10px 0;
}

.hero p {
    font-size: 24px;
    font-family: 'Dancing Script';
    color: #ff4d4d;
    margin-bottom: 22px;
}

.main-btn {
    background: #ff4d4d;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.sec-btn {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 23px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.main-btn:hover {
    background-color: #111111;
    transition: 0.3s;
    border: #fff solid 2px;
}

.sec-btn:hover {
    background-color: #ff4d4d;
    border: none;
    transition: 0.3s;
}

.loahdihm {
    display: inline-block;
    margin-top: 515px;
}

.hero img {
    margin-left: 544px;
}

.ai-haga {
    margin-top: 9vh;
}

.hero img {
    margin: auto;
    margin-top: 10px;
}



.Hamza_Gamal {
    text-shadow: 1px 1px 30px rgba(155, 26, 26, 0.9);
}




.bdaya-safha {
    background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?auto=format&fit=crop&w=1352&q=80');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

input {
    background-color: #000;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    width: 268px;
    color: #ffffff;
}

textarea {
    background-color: #000;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;

}

.logoo {
    width: 400px;
    height: 100px;
    margin: auto;
    margin-top: 94px;
}

.logooo {
    text-align: center;
    margin: auto;

}

.images-div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}

.images-margin {
    margin: auto;
    width: 70;
    text-align: center;
}

.stop2 {
    clear: both;
}

/* ---------------- */


.title-parent {
    font-style: italic;
    font-weight: 500;
    background-color: rgb(20, 20, 20);
    border: solid #555454;
    font-size: 35px;
    float: left;
    height: 64px;
    width: 100%;
}


.stop {
    clear: both;
}

.title-child {
    display: inline-block;
    float: left;
}

.title-color {
    width: 26%;
    height: 63px;
    text-align: center;
    display: inline-block;
}

.stop {
    clear: both;
}

.letter {
    font-size: 52px;
    color: rgb(145, 145, 145);



}

.red {
    background-color: red;
}

.white {
    background-color: white;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Coat_of_arms_of_Egypt_%28Official%29.svg/250px-Coat_of_arms_of_Egypt_%28Official%29.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.black {
    background-color: rgb(0, 0, 0);
}

/* //////////////////////////////////////////////////////////////////////////////// */




.about {
    margin-left: 32px;
    width: 90%;
    border-radius: 33px;
    padding: 0 0 50px 50px;
    background-color: #0c0c0c;
}

.about-dont-img {
    display: inline-block;
}

.all-img-not-img {
    margin-bottom: 23px;
}

.p1-about {
    color: rgb(255, 0, 0);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

.p2-about {
    color: #9e9e9e;
}

.puzzile-about {
    width: 110px;
    display: inline-block;
    border: #333 solid 0.5px;
    margin: 0 33px 0 0;
    border-radius: 15px;
    text-align: center;
    height: 80px;
    background-color: #202020;
}

.img-about {
    width: 300px;
    border-radius: 90px;
    margin-bottom: -100px;
    margin-right: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}








/* ///////////////////////////////////////////////////////////////////////////////// */


.memper {
    /* background-color: rgb(51, 51, 51); */
    width: 33.333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    text-align: center;
    display: inline-block;
    float: left;
    padding-bottom: 0px;
    text-decoration: none;
    margin-bottom: 52px;
}

.members {
    background-color: #000000;
}

.جمب-بعض {
    display: inline-block;
}

.tadelmemper4 {
    /* padding-bottom: 0px; */
}

.stop {
    clear: both;
}

.form {
    overflow: hidden;
}

img {
    width: 100%;
}



h1 {
    text-align: center;
}


.hero {
    height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), ; */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}


h2 {
    color: rgb(255, 255, 255);
}

.a {
    color: rgb(80, 79, 79);

}


.bizo {
    background-color: rgb(0, 77, 10);
}


.link {
    color: rgb(199, 61, 61);
}


.for {}

.lonlink {
    color: #ffffff;
    text-decoration: none;
}



.skills-section {
    padding: 60px 20px;
    text-align: center;
    margin-top: 50px;
}

.skills-title {
    font-size: 40px;
    margin-bottom: 30px;
    color: #fff;

}

.skills-container {


    padding-left: 122px;
    margin: auto;
    text-align: center;
}

.skill-card {
    background: #360000;
    padding: 30px;
    border: 2px solid #8d8b8b;
    border-radius: 15px;
    width: 250px;
    margin: 25px;
    display: inline-block;
    text-align: center;
}

.img-projict {
    width: 170px;
    filter: brightness(90%);
    height: 250px;
}

.img-projict:hover {
    filter: brightness(110%) contrast(120%) saturate(130%);
    transform: scale(1.05);
}

.skill-card h3 {
    color: #fff;
    margin-bottom: 10px;
}

.skill-card p {
    color: #ccc;
}


.skill-card:hover {
    background-color: tomato;
}

.bar {
    background: #222;
    border-radius: 20px;
    height: 10px;
}

.fill {
    background: #ff4d4d;
    height: 10px;
    border-radius: 20px;
}

.numper {
    float: right;
}

.skill-info {
    margin-bottom: 8px;
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline; */
}

.one {
    background-color: #222222;
}

.two {
    background-color: #555454;

}

.three {
    background-color: #000000;
    margin-top: 20px;
}

.for {
    color: #ffffff;

}

.puzzile-about {
    transition: 0.4s;
}

.puzzile-about:hover {
    transform: translateY(-5px);
    background-color: #444343;
}








.image-caption:hover .image{
    transform: scale(1.1,1.1);
}

.image-caption:hover .caption{
    opacity: 1;
    transform: rotate(360deg);
}
.image-caption:hover .caption h2{
    left: 0;
}
.image-caption:hover .caption p{
    left: 0;
}


.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    border: #141414 solid;
    box-shadow: 1px 1px 10px rgba(155, 26, 26);
    margin-top: 96px;
    transition: transform 1s 1s;    
    margin: auto;
}
.image-caption
{
    position: relative;
    overflow: hidden;
    margin-bottom: -32px;
    height: 230px;
    margin: auto;
    width: 240px;
}
.caption
{
    position: absolute;
    overflow: hidden; 
    left: 20px;
    background-color: rgba(99, 99, 99, 0.7);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 13px;
    opacity: 0;
    transition: opacity 1s , transform 1s;
}
.caption p
{
    color: tomato;
    margin-top: 20px;
    font-family: "Exo 2", sans-serif;
    font-size: large;
    position: relative;
    transition: left 1s 1s;
    left: 100%;
}

.caption h2
{
    position: relative;
    transition: left 1s 1s;
    left: 100%;
    background-color: rgba(0, 0, 0);
    padding-top: 30px;
    margin: 0;
    font-size: 20px;
    color: tomato;
    width: 90%;
    margin-left: 10px;
}

















/* ////////////////////////////////////////////////////////////////////////// */
form {
    background: #000000;
    position: absolute;
    width: 666px;
    border-radius: 20px;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
    border: solid 0.1px rgb(110, 110, 110);
    margin-bottom: 323px;
    margin-left: 33px;
    padding: 40px;
    height: 300px;
    margin-top: 80px;
}

.zarair-transparent {
    background-color: transparent;

}

.button {
    padding: 20px;
    margin: 33px 0 33px 0;
    margin-left: 0;
    background-size: cover;
    background-position: center center;
    border: #333 solid 1px;
    color: #f8f8f8;
    display: inline-block;
    border-radius: 5px;
    display: inline-block;
    background: tomato;
    padding-left: 300px;
    padding-right: 300px;
    transition: 0.3s;
    /* عشان لما تلمسهم اللون يتغير بنعومة */
}

.button:hover {
    transform: scale(1.02);
    /* يكبروا سنة بسيطة */
    background: rgb(223, 104, 83);
}

.al-contactme {
    background-color: #000000;
    border: #919191 solid 1px;
    color: #ffffff;
    padding: 11px;
    padding-right: 111px;
    border-radius: 6px;
    margin-bottom: 33px;
}


.تنسيق {
    background-color: #000000;
}

.جمب-بعض {
    display: inline-block;
    padding-bottom: 10px;
}

.al-name-beta3-al-contantme {}

.al-contact-me1 {
    display: none;
    background-color: #8b4141;
    border: #919191 solid 0.px;
    color: #707070;
    padding: 5px;
    border-radius: 6px;

    margin-bottom: 33px;
    margin-right: 43px;
    width: 100px;
    margin-bottom: 233px;
    margin-top: 122px;
    display: inline-block;

}

.Contactme {
    background-color: #000000;
    width: 444px;
    border-radius: 20px;
    padding: 40px;
    display: inline-block;
    margin: 80px 0 40px 800px;
    border: solid 0.1px rgb(110, 110, 110);
    padding-bottom: 22px;
    text-align: center;
}

input {
    display: inline-block;
    margin: auto;
    width: 260px;
    margin-bottom: 20px;
}

textarea {
    color: #ffffff;
    width: 565px;
    overflow: auto;
    resize: vertical;
    min-height: 100px;
    max-height: 150px;
    height: 130px;
    padding: 13px;
    border-radius: 5px;
    margin: auto;
}

.Contact-and-contactme {
    display: inline-block;
}

.clearclear {
    clear: both;
}

footer {
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    display: block;

}

.اللوجو-اللي-في-الفوتر {
    width: 100PX;
    display: inline-block;
}

.hamburger {
    display: none;
}

.al-footer {
    margin-right: 200px;
    display: inline-block;
    transition: 0.3s;
}

.al-footer:hover {
    color: #ff4d4d;
    transform: scale(1.1);
}

.al-input {
    margin-right: 3.5%;
}

.hamburger {
    display: none;
}

footer a {
    color: #ffffff;
    font-size: 25px;
    margin: 0 10px;
    transition: 0.3s;
}

footer a:hover {
    color: #ff4d4d;
    transform: scale(1.2);
    display: inline-block;
}

@media (max-width: 1347px) {

    .Contact-and-contactme {
        display: inline-block;
    }

    .Contactme {
        margin: auto;
        width: 400px;
        margin-right: 0;
        margin-bottom: 0;
    }

    form {
        position: static;
        margin-right: 5px;
        height: 310px;
        width: 600px;
        margin-left: 0;
        margin-bottom: -33px;
    }

}

@media (max-width: 1200px) {

    .Contactme {
        width: 600px;
        margin: 80px 0 40px;
    }

}
/* @media (max-width: 697px) {

    input {
        width: 100%;
    }
   form,textarea
   {
    
   }
} */

@media (max-width: 605px) {

    input {
        width: 252px;
    }

}

@media (max-width: 802px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #111;
    }

    .hamburger {
        display: block;
    }

    .nav-links.active {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 6000px) and (min-width: 4098px) {
    input {
        width: 255px;
        display: inline-block;
    }
}

@media (max-width: 587px) {
    .al-input {
        margin-right: 15px;
    }

    input {
        width: 245px;
        display: inline-block;
    }
}

@media (max-width: 569px) {
    .al-input {
        margin-right: 14px;
    }

    input {
        width: 230px;
        display: inline-block;
    }
}

@media (max-width: 538px) {
    .al-input {
        margin-right: 13px;
    }

    input {
        width: 226px;
        display: inline-block;
    }
}

@media (max-width: 528px) {
    .al-input {
        margin-right: 2px;
    }

    input {
        width: 218px;
        display: inline-block;
    }
}

@media (max-width: 501px) {
    .al-input {
        margin-right: 2px;
    }

    input {
        width: 210px;
        display: inline-block;
    }
}

@media (max-width: 482px) {
    .al-input {
        margin-right: 2px;
    }

    input {
        width: 194px;
        display: inline-block;
    }
}

@media (max-width: 450px) {
    .al-input {
        margin-right: 2px;
    }

    input {
        width: 190px;
        display: inline-block;
    }
}

@media (max-width: 441px) {
    .al-input {
        margin-right: 2px;
    }

    input {
        width: 181px;
        display: inline-block;
    }
}

@media (max-width: 424px) {
    .al-input {
        margin-right: 2px;
    }

    input {
        width: 179px;
        display: inline-block;
    }
}

@media (max-width: 420px) {
    .al-input {
        margin-right: 2px;
    }

    input {
        width: 170px;
        display: inline-block;
    }
}

@media (max-width: 401px) {
    .al-input {
        margin-right: 2px;
    }

    input {
        width: 166px;
        display: inline-block;
    }
}

@media (max-width: 635px) {
    .al-footer {
        margin: auto;
        display: block;
    }
}

/* @keyframes pulse {
  0% { transform: scale(1.1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}

.logo:hover .صوره-اللوجو {
    animation: pulse 0.6s infinite; 
} */