@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');


body {
    color: rgb(255, 255, 255);
    background-color: #000000;
    background-position: center 130%, center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}


a {
    text-decoration: none;
    color: #e54848;
}

.stop {
    display: none;
}

img {
    width: 100%;
}
h1 {
    text-align: center;
}



/* //////////////////////////////////////////////////////           navbar 🔴         //////////////////////////////////////////////////////*/

.sun
{
    font-size: large;
    color: #ffffff;
    transition: 0.5s;
    margin-right: -40px;
    width: 35px;
    padding-top: 5px;
    margin-top: 8px;
    border-radius: 10px;
    height: 30px;
    text-align: center;
}
.moon
{
    display: none; 
    transition: 0.3s;
    color: #ffffff;
}
.sun:hover , .moon:hover
{
    background-color: rgba(255, 255, 255, 0.2);
    color: #f83939;
    cursor: pointer;
}


.hamburger {
    display: none;
}

.navbar {
    background: rgba(4, 4, 4, 0.6);  
    backdrop-filter: blur(15px); 
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box; 
    padding: 0 5%;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent; 
    animation: show-border linear both; 
    animation-timeline: scroll();
    animation-range: 0px 50px; 
}

@keyframes show-border {
    from {
        border-bottom-color: transparent;
    }
    to {
        border-bottom-color: #4d4d4d; 
    }
}

/* -------------------- logo (name and image) -------------------- */

.logo {
    display: flex;
    align-items: center;
    margin-left: -50px;
    font-size: 24px;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
}

.logo a {
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

.logo span {
    color: #ff4d4d;
}

.img-logo {
    width: 97px; 
    display: flex;
    margin-top: 5px;
    align-items: center;
    margin-right: -10px;
}

.صوره-اللوجو {
    width: 100%;
    transition: 0.2s;
}

.logo:hover a {
    color: #e54848;
}

.logo:hover .صوره-اللوجو {
    transform: scale(1.05);
    filter: brightness(0) saturate(100%) invert(35%) sepia(86%) saturate(4619%) hue-rotate(345deg) brightness(113%) contrast(80%);
}

/* -------------------- links -------------------- */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
}

.nav-links a:hover {
    color: #e54848;
}

/* //////////////////////////////////////////////////////           hero 🔴         //////////////////////////////////////////////////////*/
.Welcomeportfolio {
    transition: 0.4s;
}

.Welcomeportfolio:hover {
    color: tomato;
    transform: scale(1.05);
}

.hero {
    height: 100%;
    margin-top: 33px;
    padding-top: 30px;
    color: #fff;
    text-align: center;
    height: 100vh;
    margin-bottom: 100px;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    display: block;
}

.hero h1 {
    font-size: 80px;
    font-family: 'Exo 2';
    margin: 10px 0;
}

.hero p {
    font-size: 24px;
    font-family: 'Dancing Script';
    color: #ff4d4d;
    margin-bottom: 22px;
}
.text-hero
{
        margin-top: 9vh;
}


.hero img {
    margin: auto;
    margin-top: 10px;
}



.Hamza_Gamal {
    text-shadow: 1px 1px 30px rgba(255, 48, 48, 0.9);
}

.image-caption:hover .image{
    transform: scale(1.1,1.1);
}

.image-caption:hover .caption{
    opacity: 1;
    transition: opacity 1s;
    transform: rotate(360deg);
}
.image-caption:hover .caption h2{
    transition: left 1s 1s;
    left: 0;
}
.image-caption:hover .caption p{
    transition: left 1s 1s;
    left: 0;
}
    
@keyframes نبضة {
    0%   { box-shadow: 0 0 1px #ff6e6e; }
    50%  { box-shadow: 0 0 15px #ff6e6e; }
    100% { box-shadow: 0 0 1px #ff6e6e; }
}
    
.image {
    animation: نبضة 2s infinite;
    width: 200px;
    filter: contrast(115%) brightness(110%) saturate(150%) ;
    height: 200px;
    border-radius: 50%;
    border: #141414 solid;
    margin-top: 96px;
    transition: transform 1s 1s;    
    margin: auto;
}
.image-caption
{
    position: relative;
    overflow: hidden;
    margin-bottom: -32px;
    height: 230px;
    margin: auto;
    width: 240px;
}
.caption
{
    position: absolute;
    overflow: hidden; 
    left: 20px;
    background-color: rgba(48, 48, 48, 0.5);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 13px;
    opacity: 0;
    transition: opacity 0.5s , transform 1s;
}
.caption p
{
    color: tomato;
    transition: left 0.5s 0.5s;
    margin-top: 20px;
    font-family: "Exo 2", sans-serif;
    font-size: large;
    position: relative;
    left: 100%;
}

.caption h2
{
    transition: left 0.5s 0.5s;
    position: relative;
    left: 100%;
    background-color: rgba(0, 0, 0);
    padding-top: 30px;
    margin: 0;
    font-size: 20px;
    color: tomato;
    width: 90%;
    margin-left: 10px;
}
.main-btn {
    background: #e23b3b;
    color: #fff;
    padding: 12px 25px;
    transition: transform 0.3s ,  background-color 0.3S;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;   
    border: 2px solid #444343;
}

.sec-btn {
    border: 2px solid #444343;
    color: #fff;
    padding: 10px 23px;
    background-color: #e23b3b;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.3s ,  background-color 0.3S;
}

.main-btn:hover , .sec-btn:hover{
    background-color: #d13030;
}


/* //////////////////////////////////////////////////////           about 🔴         //////////////////////////////////////////////////////*/

.about {
    background-size: cover;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px 0 50px 50px;
    background-color: #0c0c0c;
    text-align: center;
}
.about-dont-img {
    display: inline-block;
    text-align: left;
}
.p1-about {
    color: rgb(255, 0, 0);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

.p2-about {
    color: #9e9e9e;
}

.puzzile-about {
    width: 110px;
    display: inline-block;
    border: #333 solid 0.5px;
    margin: 0 33px 0 0;
    border-radius: 15px;
    text-align: center;
    height: 80px;
    background-color: #202020;
    transition: 0.4s;
}

.puzzile-about:hover {
    transform: translateY(-5px);
    background-color: #444343;
}

.puzzile-about:active
{
    transform: scale(0.90);
}
.about img {
    width: 300px;
    border-radius: 90px;
    margin-bottom: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 40px;
}


.all-not-img {
    margin-bottom: 15px;
}


/* //////////////////////////////////////////////////////           Projects 🔴         //////////////////////////////////////////////////////*/
.Projects
{
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-left: 10px;
        width: 100%;
        margin-bottom: 100px;
}
.Project3 {
    overflow: visible;
}

.Project {
    display: inline-block;
    margin: 70px 10px 0 10px;
    transition: 0.4s;
    cursor: pointer;
    padding-bottom: 10px;
    box-sizing: border-box;
    width: auto;
    border-radius: 15px;
    overflow: visible;
}
.Projects h1
{
    margin-top: 20px;
    transition: 0.4s;
}
.Project p
{
    color: rgb(114, 113, 113);
    background-color: #161616;
    text-align: center;
    font-size: 20px;
    transition: 0.4s;
    height: 30px;
    width: 350px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    font-family: "Exo 2", sans-serif;
}
.Project img
{
    width: 350px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 10px 10px 0;
    display: block;
    transition: 0.4s;
}
.Project:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px 20px rgba(255, 77, 77, 0.6);
    border-radius: 15px;
}
.Project:hover img
{
    filter: contrast(110%) brightness(70%) saturate(120%);
}

.Project:hover p
{
  font-weight: bold;
}

/* //////////////////////////////////////////////////////           skills 🔴         //////////////////////////////////////////////////////*/
.skills{
    transition: 0.4s;
    text-align: center;
    margin: auto;
    border-radius: 23px;
    padding-bottom: 33px;
    margin-top: 100px;
    width: 500px;
    margin: auto;
    padding: 0 1.5% 1.5% 1.5%;
    margin-top: 33px;
    margin-top: 20px;
    position: relative;
    top: 100px;
    background-color: #070707;
    margin-top: 20px;
}
.skills-skills
{
    width: 100%;
    background-color: #0e0e0e;
}
.bar {
    background: #222;
    border-radius: 20px;
    height: 10px;
}

.fill {
    background: #ff4d4d;
    height: 10px;
    border-radius: 20px;
}

.numper {
    float: right;
}

.skill-info {
    margin-bottom: 8px;
    color: #fff;
}


/* //////////////////////////////////////////////////////           footer 🔴         //////////////////////////////////////////////////////*/


form {
    background: #070707;
    overflow: hidden;
    display: inline-block;
    max-width: 700px;
    width: 57%;
    border-radius: 10px;
    color: #ffffff;
    border: rgb(51, 51, 51) 0.1px solid;
    margin-bottom: -33px;
    padding: 30px 17px 30px 17px;
    margin: 80px 30px 0 0;
}

input {
    background-color: #070707;
    border: 1px solid #333;
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 40.5%;
    color: #ffffff;
}

.footer {
    text-align: center;
    background-color: #0e0e0e;
    margin-top: 70px;
    display: flex;        
    justify-content: center; 
    align-items: flex-start; 
    gap: 40px;            
    flex-wrap: wrap;      
    padding: 40px 40px 0 40px;           
}
footer {
    background: #000000;
    color: gray;
    display: flex;
    padding: 10px 20px 20px 20px;
    text-align: center;
    width: 100vw;
    display: block;
}



button {
    padding: 20px;
    margin: 33px 0 0 0;
    background-size: cover;
    background-position: center center;
    border: #333 solid 1px;
    color: #f8f8f8;
    display: inline-block;
    border-radius: 5px;
    display: inline-block;
    background: rgb(230, 83, 54);
    text-align: center;
    width: 95%;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.01);
    background: rgb(202, 57, 31);
}


.Contactme {
    border-radius: 20px;
    display: inline-block;
    margin: 0 0 00px 0;        
}
.icon-contactme {
    background-color: rgba(255, 0, 0, 0.2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: red;
}

.e-l-p {
    background-color: #070707;
    margin: 15px 15px 15px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 280px;
    position: relative;
    bottom: 93px;   
    padding: 20px;
    padding-top: 25px;
    border-radius: 10px;
    border: rgb(51, 51, 51) 0.1px solid;
}

.title-contactme {
    font-weight: bold;
    color: white;
    text-align: left;
    display: block;
}

.data-contactme {
    color: gray;
    font-size: 14px;
    display: block;
}
.Contactme a
{
    transition: 0.2s;
}
.Contactme a:hover {
    color: rgb(179, 14, 14);
}

.e-l-p-text {
    display: flex;
    flex-direction: column; 
}



textarea {
    color: #ffffff;
    width: 90%;
    overflow: auto;
    resize: vertical;
    min-height: 100px;
    max-height: 150px;
    height: 130px;
    padding: 13px;
    border-radius: 5px;
    background-color: #070707;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}

.Contact-and-contactme {
    display: inline-block;
}


.al-footer {
    margin-right: 200px;
    display: inline-block;
    transition: 0.3s;
}

.al-footer:hover {
    color: #ff4d4d;
    transform: scale(1.05);
}

.al-input {
    margin-right: 3.5%;
}


footer a {
    color: gray;
    font-size: 25px;
    margin: 0 10px;
    transition: 0.3s;
}

footer a:hover {
    color: #ff4d4d;
    transform: scale(1.2);
    display: inline-block;
}

/* //////////////////////////////////////////////////////////////// media 🔴 //////////////////////////////////////////////////////////// */
@media (max-width: 845px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #111;

    }
    .logo
    {
            margin-left: -35px;
    }
    .hamburger {
        display: block;
    }

    .nav-links.active {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 1042px) {
     form
     {
        width: 50%;
     }
}
@media (max-width: 909px) {
     .Contactme
     {
        width: 30%;
     }
}

@media (max-width: 719px) {
        .Contactme
    {
        width: 100%;
        position: relative;
        top: 80px;
        display: flex;
        margin: auto;
        text-align: center;
        display: block;
    }
    form
    {
        margin-bottom: 32px;
        width: 95%;
        position: relative;
        right: 30px;
    }

     }

@media (max-width: 635px) {
    body
    {
      overflow-x: hidden;
    }
    .skills
    {
        width: 90%;
    }
    input
    {
        width: 90%;
    }
    textarea
    {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    button
    {
        width: 100%;
    }
}

@media  (max-width: 967px) {
   .img-about
  {
    display: block;
    margin-bottom: 30px;
    padding-top: 10px;
  }  
  .puzzile-about
  {
    position: relative;
    left: 0;
  }
  .about
  {}
}

@media (max-width:777px)
{
.Project
    {
    padding-top: 30px;
    display: flex;
    margin-right: 0;
    padding-right: 0;
    position: relative;
    right: 10px;
    text-align: center;
    display: block;
    margin: auto;
    width: 340px;
    height: 60%;
    }
}
@media (max-width:777px)
{
    .al-footer {
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }
}
